p {
  font-size: 0.75rem;
  text-align: center;
  font-weight: 500;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: #c3d898;

  & h1 {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

main {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.game-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  margin-block: 2rem;
  color: #fff;

  & h2 {
    font-weight: 600;
    font-size: 1.25rem;
  }
}

section.game-status.wrong {
  background: #7526aa;
  border: 1px dashed #c3d898;
  font-style: italic;
  font-weight: 400;
}

section.game-status.won {
  background: #10a95b;
}

section.game-status.lost {
  background: #70161e;
}

section.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
  margin-bottom: 30px;
}

.language {
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 500;
  position: relative;
}

.language.lost::before {
  content: "💀";
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  align-content: center;
  width: 100%;
  height: 100%;
  font-size: 0.75rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

.letters {
  width: auto;
  display: flex;
  gap: 2px;
  margin-bottom: 30px;
}

.letter {
  width: 40px;
  height: 40px;
  border-bottom: 1px solid #c3d898;
  background-color: #596f62;
  color: #c3d898;
  font-weight: 600;
  align-content: center;
  text-align: center;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 30px;
}

section.keyboard > button {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #fcba29;
  color: #1c3144;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: 1px solid #c3d898;
}

section.keyboard > button.correct {
  background-color: #7ea16b;
}

section.keyboard > button.incorrect {
  background-color: #70161e;
  color: #c3d898;
}

.new-game {
  height: 42px;
  width: 100%;
  text-align: center;
}

.new-game > button {
  background-color: #345a7c;
  border: 1px solid #596f62;
  border-radius: 0.5rem;
  color: #c3d898;
  height: 100%;
  width: 70%;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
