p {
  font-size: 0.75rem;
  text-align: center;
  font-weight: 500;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: #c3d898;

  & h1 {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

main {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.game-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #10a95b;
  width: 80%;
  height: 60px;
  border-radius: 5px;
  margin-block: 2rem;

  & h2 {
    font-weight: 600;
    font-size: 1.25rem;
  }
}

section.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
  margin-bottom: 30px;
}

.language {
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 500;
}

.letters {
  width: auto;
  display: flex;
  gap: 2px;
  margin-bottom: 30px;
}

.letter {
  width: 40px;
  height: 40px;
  border-bottom: 1px solid #c3d898;
  background-color: #596f62;
  color: #c3d898;
  align-content: center;
  text-align: center;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.key {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #fcba29;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: 1px solid #c3d898;
}
